<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>

    <!-- testing calls and such --> 

	    <a class="item item-icon-left" ng-href="mailto:test@test.com">
	    <i class="icon ion-email"></i>
	    test@test.com
	  </a>

	  <a class="item item-icon-left" ng-href="tel:07123123123">
	    <i class="icon ion-ios-telephone"></i>
	    07123123123
	  </a>


	  <a class="item item-icon-left" ng-href="skype:aka.niles">
	    <i class="icon ion-ios-person"></i> Skype:
	    aka.niles
	  </a>



    <!-- end testing calls and such --> 

    </ion-list>
  </ion-content>
</ion-view>
